<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

<div class="card" *ngIf="cart.length>0">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cart.jpg">
        <mat-card-title>
          <h2>Cart</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let item of cart">
              <div class="container">
                <div class="leftpane">
                    <h3 class="test"> {{ item.name}} </h3>
                </div>
                <div class="middlepane">
                    <h3>{{item.price}} </h3>
                </div>
                <div>
                    <button mat-icon-button class="pnrbutton">
                        <span style="color: rgb(36, 36, 190);"  (click)="removeFromCart(item)" class="fa fa-minus fa-lg"></span>
                    </button>
                </div>
              </div>
        </div>
        <div class="container">
          <div class="pnrforms">
            <form [formGroup]="pnrForm" (ngSubmit)="onSubmit()">
                <mat-input-container dividerColor="{{ formErrors.pnr ? 'warn' : 'primary'}}">
                    <input formControlName="pnr" class="test" matInput placeholder="Enter PNR Number" type="text" required>
                    <mat-hint>
                        <span [hidden] = "!(formErrors.pnr)">
                          {{formErrors.pnr}}
                        </span>
                    </mat-hint>
                </mat-input-container>
            </form>
          </div>
          <div class="leftpane">
            <button type="submit" (click)="onSubmit()" mat-button class="background-primary text-floral-white" [disabled]="pnrForm.invalid">Pay {{ammount}}</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


<div fxFlex>
  <div>
    <h3> Menu </h3>
    <hr>
  </div>
</div>

<div fxFlex *ngIf="dishes">
  <mat-grid-list cols="2"  rowHeight="200px">
    <mat-grid-tile *ngFor="let dish of dishes"  appHighlight>
      <img height="200px" src="{{MongoURL + dish.image}}" alt={{dish.name}}>
      <mat-grid-tile-header style="background-color:transparent">
        <a style="background-color:rgb(95, 16, 221)" target="_blank" [routerLink] ="['/dishdetail',dish.id]" mat-button>Show Details</a>
        <span class="flex-spacer"></span>
        <p style="color:rgb(48, 48, 145);"> Rs {{dish.price}}</p>
      </mat-grid-tile-header>
      <mat-grid-tile-footer>
        <h1 mat-line> {{dish.name | uppercase}} </h1>
        <span class="flex-spacer"></span>
        <button mat-icon-button>
            <span style="color:rgb(22, 22, 235);" (click)="addToCart(dish)" class="fa fa-plus fa-lg"></span>
          </button>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div [hidden]="dishes || errMess">
  <mat-spinner></mat-spinner>
  <h4> Loading... Please Wait</h4>
</div>

<div *ngIf="errMess">
  <h2> Error </h2>
  <h4> {{ errMess }}</h4>
</div>


</div>