$lt-gray: #ddd;
$background-dark: rgba(113, 153, 180, 0.726);
$background-light: #9575CD;
$background-pale: #D1C4E9;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.backGround{
    background-color: $background-dark;
    @include zero-margin(20px, 0px);
}