.main-body{
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    padding: 20px 50px;
    display: flex
}
.form{
    padding-left: 10%; 
    flex: 1
}

.feature{
    flex: 2
}
